# Assignment 1: Machine Learning Lab
## Decision Tree Regressor

#### Importing libraries

In [5]:
# python libraries
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import seaborn as sns 

# self written libraries
from utils import train_test_split
from KMeans import KMeansClustering as kmeans
from decision_tree_regressor import DecisionTreeRegressor

### Importing dataset

In [6]:
df = pd.read_csv("./data/covid_data_india.csv")
df.head()

         date  retail_and_recreation  ...  workplaces  new_cases
0  2020-02-17                  0.667  ...       3.000        0.0
1  2020-02-18                  0.500  ...       3.000        0.0
2  2020-02-19                  0.400  ...       3.200        0.0
3  2020-02-20                  0.500  ...       3.333        0.0
4  2020-02-21                 -0.143  ...       0.143        0.0

[5 rows x 8 columns]

In [11]:
train_df, test_df = train_test_split(df, 10, shuffle = True)

In [12]:
train_df.head(20)

          date  retail_and_recreation  ...  workplaces  new_cases
0   2020-02-17                  0.667  ...       3.000        0.0
1   2020-02-18                  0.500  ...       3.000        0.0
3   2020-02-20                  0.500  ...       3.333        0.0
4   2020-02-21                 -0.143  ...       0.143        0.0
6   2020-02-23                 -1.143  ...      -0.571        0.0
7   2020-02-24                 -1.143  ...      -0.571        0.0
8   2020-02-25                 -1.286  ...      -0.857        0.0
9   2020-02-26                 -1.286  ...      -1.000        0.0
11  2020-02-28                 -1.000  ...       2.429        0.0
12  2020-02-29                 -1.000  ...       3.857        0.0
13  2020-03-01                 -0.571  ...       4.000        0.0
14  2020-03-02                 -0.429  ...       4.143        2.0
15  2020-03-03                 -0.429  ...       4.571        0.0
16  2020-03-04                 -0.429  ...       5.143       23.0
17  2020-03-05                 -0.429  ...       5.286        2.0
18  2020-03-06                 -0.571  ...       5.286        1.0
19  2020-03-07                 -0.286  ...       5.143        3.0
20  2020-03-08                 -0.143  ...       5.571        5.0
22  2020-03-10                 -2.857  ...      -3.714       13.0
23  2020-03-11                 -3.571  ...      -5.429        6.0

[20 rows x 8 columns]